/* Styles go here */
@import url('https://fonts.googleapis.com/css?family=Barlow|Muli|Nunito|Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Bangers|Dokdo|Frijole|Neucha|Rock+Salt|Trade+Winds');



*:focus {
    outline: none;
}

body {
  background-color: black;
  color: white;
  font-family: 'Trade Winds', cursive;

}

#wrapper {
    width:300px;
    margin:20px auto;
    padding:20px;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 0 5px rgba(0, 0, 0, .3);
    border: 1px solid #6f212f;
}

.photo {
  width: 100%;
  height: 225px;
  background-image: url('Head.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid black;
}


h1 {
  height: 80px;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  margin-top: auto;
  font-size: 30px;
  padding-bottom: 40px;
  color: Red;
  }

h2 { font-family: 'Neucha', cursive;
font-size: 16px;
margin-top: auto;
color: white;
 }


input[type=checkbox] {
    vertical-align:middle;
    margin: 0 5px;
}


li {
    list-style: none;
    background: #303742;
    margin:5px 0px;
    line-height:1.6;
    padding:10px;
    border:#222 solid 1px;
}

li:nth-child(odd) {
    background: #232f42;
}

.footer{
  text-align: center;
  font-family: 'Bangers', cursive;
  color: red;
}

.left{
  float: left;
}
.right{
  float:right;
}
